.page {

	// min-height: 100%;
	// display: flex;
	// align-items: center;
	// .page__tour
	&__tour {
		@include adaptiveValue("padding-top", 60, 30);
		@include adaptiveValue("padding-bottom", 60, 30);

		width: 100%;
		height: 100%;
	}
}

._page-tour {
	display: grid;
	grid-template-rows: 1fr auto;
}

.tour {

	// .tour__container
	&__container {
		height: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
	}

	// .tour__body
	&__body {
		display: grid;
		gap: 10px;
		@media (max-width: $tablet) {
			grid-template-rows: auto 1fr;
		}
		@media (min-width: $tablet) {
			grid-template-columns: 1fr auto;
		}
	}

	// .tour__iframe
	&__iframe {
		@media (max-width: $tablet) {
			order: 2;
		}
		height: 100%;
		width: 100%;

		// @include adaptiveValue("height",620,150);
		// @include adaptiveValue("width",1102,267);
		// flex: 1 1 auto;
		aspect-ratio: 16/9;
		&._fullscreen{
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 8;
		}
	}
	&__frame{
		@media (max-width: $tablet) {
			order: 2;
		}
		height: 100%;
		width: 100%;

		position: relative;
	}
	// .tour__fullscreen
	&__fullscreen {
		position: absolute;
		z-index: $ui-index-5;
		top: 20px;
		left: 20px;
		// @include adaptiveValue("top", 25, 15);
		// @include adaptiveValue("left", 25, 15);
		// padding: 20px 0 0 20px;
		// @include adaptiveValue("font-size", 42, 24);
		font-size: 40px;
		color: $btn-color;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: lighten($btn-color, 10%);
			}
		}
		&._icon-fullscreened{
			position: fixed;
			z-index: 9;
			opacity: 0.8;
			@include adaptiveValue("font-size", 28, 20);;
		}
	}
	// .tour__bnt-group
	&__bnt-group {
		height: 100%;

		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: space-evenly;
		@media (max-width: $tablet) {
			flex-direction: row;
		}
	}

	// .tour__btn
	&__btn {
		display: flex;
		align-items: center;
		flex-direction: column;
		a{
			@include adaptiveValue("font-size", 28, 20);
			&:not(:first-child) {
				@include adaptiveValue("margin-top", 40, 20);
			}
		}
		justify-content: space-between;
		// text-align: center;
		@include adaptiveValue("margin-top", 40, 20);
	}
}
.bnt-group {

	// .bnt-group__btn
	&__btn {
		// @media (max-width: $mobile) {
		// 	&:not(:first-child) {
		// 		@include adaptiveValue("margin-left", 10, 5);
		// 	}
		// }
		// @media (min-width: $mobile) {
		// 	&:not(:first-child) {
		// 		@include adaptiveValue("margin-top", 30, 10);
		// 	}
		// }
		// margin: 5px 10px;
	}
}